[Unit]
Description=Hearts by Mirror
Documentation=https://github.com/zaratanDotWorld/mirror
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/mirror
ExecStart=/home/ubuntu/.nvm/versions/node/v16.15.0/bin/node src/bolt/hearts.app.js
StandardOutput=file:/home/ubuntu/mirror/logs/hearts.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
