[Unit]
Description=Things by Mirror
Documentation=https://github.com/kronosapiens/mirror/wiki
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/mirror
ExecStart=/home/ubuntu/.nvm/versions/node/v16.15.0/bin/node src/bolt/things.js
StandardOutput=file:/home/ubuntu/mirror/logs/things.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
