[Unit]
Description=Chores by Mirror
Documentation=https://github.com/zaratanDotWorld/mirror
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/mirror
ExecStart=/home/ubuntu/.nvm/versions/node/v16.15.0/bin/node --experimental-loader=newrelic/esm-loader.mjs src/bolt/chores.app.js
Environment="NEW_RELIC_APP_NAME=Chores"
StandardOutput=append:/home/ubuntu/mirror/logs/chores.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
